@import "tailwindcss";
@plugin "@tailwindcss/typography";
@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: var(--color-amber-400);
    color: var(--color-zinc-950);
  }
}
